html,
body {
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body.h-wrap {
  display: flex;
  flex-direction: row;
  height: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: Roboto Slab;
}
body.h-wrap #current {
  position: absolute;
  padding: 5px;
  background-color: #1c1c1c;
  color: #fff;
  z-index: 5;
  -webkit-transition: opacity ease 0.7s 0.4s;
  -moz-transition: opacity ease 1s 1s;
  -ms-transition: opacity ease 1s 1s;
  -o-transition: opacity ease 1s 1s;
  transition: opacity ease 0.7s 0.4s;
  opacity: 0;
  top: 20px;
  left: 10px;
}
body.h-wrap div.v-wrap {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100vh;
  margin: 0;
  padding: 0;
}
body.h-wrap div.v-wrap #graph-wrap {
  flex-grow: 1;
}
body.h-wrap div.v-wrap #console {
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: Ubuntu Mono, Monaco, Consolas, monospace;
}
body.h-wrap #panel {
  background: #1c1c1c;
  width: 304px;
  height: 100vh;
  margin: 0;
  padding: 0;
}
body.h-wrap #panel #info {
  background: #fff;
  padding: 20px;
  margin: 7px;
}
body.h-wrap #panel #info #avatar {
  width: 250px;
  height: 250px;
  box-sizing: content-box;
  background: #ccc;
  background-size: cover;
}
body.h-wrap #panel #info #name {
  margin: 14px 0;
  margin-bottom: 7px;
  display: block;
  color: #000;
  text-decoration: none;
  background: #fff;
  font-size: 120%;
  font-family: Roboto Slab, dejavu-sans, sans-serif;
}
body.h-wrap #panel #cli-hint,
body.h-wrap #panel #expr-hint,
body.h-wrap #panel #verbose,
body.h-wrap #panel #debug,
body.h-wrap #panel #group {
  margin: 7px;
  background: #fff;
  font-family: Ubuntu Mono, Monaco, monospace;
}
body.h-wrap #panel #cli-hint span:before,
body.h-wrap #panel #expr-hint span:before,
body.h-wrap #panel #verbose span:before,
body.h-wrap #panel #debug span:before,
body.h-wrap #panel #group span:before {
  content: " ";
}
body.h-wrap #panel #cli-hint.hidden,
body.h-wrap #panel #expr-hint.hidden,
body.h-wrap #panel #verbose.hidden,
body.h-wrap #panel #debug.hidden,
body.h-wrap #panel #group.hidden {
  display: none;
}
body.h-wrap #panel #cli-hint .clickable,
body.h-wrap #panel #expr-hint .clickable,
body.h-wrap #panel #verbose .clickable,
body.h-wrap #panel #debug .clickable,
body.h-wrap #panel #group .clickable {
  cursor: pointer;
}
body.h-wrap #panel #cli-hint .command,
body.h-wrap #panel #expr-hint .command,
body.h-wrap #panel #verbose .command,
body.h-wrap #panel #debug .command,
body.h-wrap #panel #group .command {
  color: #17f;
  background: #ccc;
}
body.h-wrap #panel #cli-hint .args,
body.h-wrap #panel #expr-hint .args,
body.h-wrap #panel #verbose .args,
body.h-wrap #panel #debug .args,
body.h-wrap #panel #group .args {
  color: #1e1;
}
body.h-wrap #panel #cli-hint .desc,
body.h-wrap #panel #expr-hint .desc,
body.h-wrap #panel #verbose .desc,
body.h-wrap #panel #debug .desc,
body.h-wrap #panel #group .desc {
  color: #1c1c1c;
}
