doctype html
html
	head
		title graphite
		meta(charset="utf-8")
		link(rel="stylesheet" type="text/css" href="style/index.css")
		link(href="//fonts.googleapis.com/css?family=Ubuntu+Mono&subset=latin,cyrillic" rel="stylesheet" type="text/css")
		link(href="//fonts.googleapis.com/css?family=Roboto+Slab&subset=latin,cyrillic" rel="stylesheet" type="text/css")
		link(href="style/cssConsole.css" type="text/css" rel="stylesheet")
		script(src="https://unpkg.com/eventemitter2@5.0.1/lib/eventemitter2.js")
		script(src="https://unpkg.com/vivagraphjs@0.10.1/dist/vivagraph.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.5.0/bluebird.min.js")
		script(src="js/vendor/cssConsole.min.js")
		script(src="js/vendor/jsep.min.js")
		script(src="js/vendor/gexf.js")
		script(src="https://unpkg.com/ngraph.graph@0.0.18/dist/ngraph.graph.min.js")
		script(src="https://cdn.jsdelivr.net/gh/adamhooper/js-priority-queue@f291ac1db2a33dd28d660f187305757f4e98634d/priority-queue.min.js")
		script(defer="defer" src="js/settings.js")
		script(defer="defer" src="js/util.js")
		script(defer="defer" src="js/cli.js")
		script(defer="defer" src="js/api.js")
		script(defer="defer" src="js/app.js")
		script(defer="defer" src="js/ui.js")
	body.h-wrap
		div#current
		div.v-wrap
			#graph-wrap
			#console >
		#panel
			#info
				#avatar
				a#name
				#id
			#verbose
				div
					span.command скрыто друзей
					span#hidden.args.clickable 0
					span.args
					span#hiddensearch.command.clickable (найти больше?)
				div
					span.command скрыт друзьями
					span#hidden-by.args.clickable 0
			#group.hidden
				div
					span.command.clickable#extend-unlimited дополнить кластер (много!)
				div
					span.command.clickable#extend дополнить сообщество
			#cli-hint
			#expr-hint
				div 
					span.command селекторы
					// u - user(search), f - friendsOfUser(search), s - selected, m - men
					span.args u%search
					span.args f%search
					span.args s
					span.args m 
				div 
					span.command операции
					span.args x+y
					span.args x-y
					span.args x^y
					span.args !x
			#debug
				div 
					span.command вершин
					span#s_verts.args
				div
					span.command ребер
					span#s_edges.args 0
				div 
					span.command вершин загружено
					span#s_real_verts.args 0
				div
					span.command ребер загружено
					span#s_real_edges.args 0